.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--primary-color-2);
    border-radius: 8px;
    border-collapse: collapse;
}

td,
th {
    padding: 12px;
    text-align: center;
}

tr {
    border-bottom: 1px solid rgb(0, 0, 0, 0.08);
}

thead {
    background-color: var(--primary-color-4);
    border-radius: 10px;
    border-bottom: 2px solid rgb(0, 0, 0, 0.08);
}

th {
    font-weight: 700;
}

table thead tr th:first-child {
    border-radius: 8px 0px 0px 0px;
}

table thead tr th:last-child {
    border-radius: 0px 8px 0px 0px;
}

@media screen and (max-width: 600px) {
    table {
        font-size: 14px;
        overflow-x: scroll;
        /* enable horizontal scrolling on small screens */
    }
}