.spinner-container {
  position: relative;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.spinner {
  border: 15px solid rgba(255, 239, 213, 0.5);
  border-top-color: rgba(255, 239, 213, 0.8);
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin: 10px;
  animation: spin 1s linear infinite;
}

.spinner-text {
    position: absolute;
    font-weight: 600;
    color: rgb(255, 239, 213);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 120px;
  }
  

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
