:root {
  --background-color: #5fa06d;
  --primary-color-1: #fff;
  --primary-color-2: #f2f2f2;
  --primary-color-3: #e6e6e6;
  --accent-color-1: #2196f3;
  --accent-color-2: #0c7cd5;
}

.App {
  text-align: center;
  background-color: var(--background-color);
  height: 100%;
  min-height: 100vh;
  padding: 20px;
}

.app__title {
  color: #fdf5e6;
  text-shadow: 3px 3px 5px #666;
  font-size: 3rem;
  margin: 20px;
}